.nope { 
    /* margin-left: 3.5em; */
    position: relative;
    left: -90px;
    /* color: rgb(83, 109, 83); */
    color: #fff;
  } 
  .nope i {
    font-size: 25px;
    cursor: pointer;

  }
  .nope i:hover {
    color: rgb(180,220,220);
  }